---

- name: install mysql
  become: yes
  yum:
    name: mysql-server
    state: present
    

    
- name: Install MySQL client package
  package:
      name: mysql
    
    
- name: Start MySQL service
  become: yes
  service:
    name: mysql
    state: started
