---

- name: install mysql
  become: yes
  yum:
    name: mysql-server
    state: present
    
- name: install PyMySQL
  become: yes
  yum:
    name: python3-pymysql
    state: present
    
- name: Install MySQL client package
  become: yes
  yum:
    name: mysql-client
    state: present
    
- name: Install python3-pip
  package:
      name: python3-pip
      state: present
      
- name: Install PyMySQL package
  pip:
     name: python3-mysqldb
     executable: pip3
     state: present
    
- name: Install MySQL client package
  become: yes
  yum:
    name: mysql-client
    state: present
    
- name: Start MySQL service
  become: yes
  service:
    name: mysql
    state: started
