---

- name: Ensure required packages are installed
  dnf:
    name:
      - mysql-server
      - mysql-devel
      - python39
      - python39-devel
      - python39-pip
      - gcc
    state: latest

- name: Install Required pip modules
  pip:
    name:
      - PyMySQL
    state: present
    executable: pip3
    

  
    
- name: Start MySQL service
  become: yes
  service:
    name: mysqld
    state: started
