---
- name: Create MySQL user and grant privileges
  mysql_user:
    login_user: admin
    login_password: Password@123
    login_unix_socket: /var/run/mysqld/mysqld.sock
    priv: "*.*:ALL,GRANT"
    host: 10.25.55.178
    state: present
 
