---

- name: Check if table exists
  shell:
    cmd: |
      mysql -u admin -pPassword@123 -N -s -e 'USE LZ; SELECT 1 FROM information_schema.tables WHERE table_schema = "LZ" AND table_name = "idiots" LIMIT 1;'
  register: table_check_output
  failed_when: false
  changed_when: table_check_output.rc == 0

- name: Display message if table exists
  debug:
    msg: "Table 'idiots' already exists."
  when: table_check_output.rc == 0

- name: Create table if it doesn't exist
  command: echo "Running SQL queries..."
  when: table_check_output.rc != 0

- name: Execute SQL queries
  script:
    script: queries.sql
  register: script_output
  ignore_errors: true

- name: Display message for duplicate key
  debug:
    msg: "Duplicate key violation occurred."
  when: "'Duplicate entry' in script_output.stderr"




