---

- name: To create table
  command: 
    cmd: " mysql -u admin -p Password@123 -e
      'CREATE TABLE idiots (
      id INT AUTO_INCREMENT PRIMARY KEY,
      name VARCHAR(50) NOT NULL,
      email VARCHAR(100) NOT NULL UNIQUE
            );' "
     
     

   
  
    

