---

- name: To create table
  command:
    cmd: |
      mysql -u admin -pPassword@123 -e '
      USE LZ;
      CREATE TABLE idiots (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        email VARCHAR(100) NOT NULL UNIQUE
      );
      '
      
- name: Insert records into table
  command:
    cmd: |
      mysql -u admin -pPassword@123 -e '
      USE your_database;
      INSERT INTO idiots (name, email) VALUES ("Ashok", "Ashok@example.com");
      INSERT INTO idiots (name, email) VALUES ("Gopi", "Gopih@example.com");
      '


     

   
  
    

