---

- name: Check if table exists
  mysql_db:
    name: LZ
    state: table
    table: idiots
  register: table_check
  ignore_errors: true

- name: Display message if table already exists
  debug:
    msg: "Table 'idiots' already exists in database 'your_database'"
  when: table_check|success

- name: Create table if it doesn't exist
  mysql_db:
    name: your_database
    state: table
    table: idiots
    columns:
      - name: id
        type: INT
        primary_key: yes
        auto_increment: yes
      - name: name
        type: VARCHAR(50)
        not_null: yes
      - name: email
        type: VARCHAR(100)
        not_null: yes
        unique: yes
  when: table_check|failed


     

   
  
    

