---

- name: Check if table exists
  command:
    cmd: |
      mysql -u admin -pPassword@123 -e '
      USE LZ;
      CREATE TABLE IF NOT EXISTS idiots (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        email VARCHAR(100) NOT NULL UNIQUE
      );
      '
    register: create_table_output
    failed_when: "'Table already exists' not in create_table_output.stdout"

- name: Insert records into table
  command:
    cmd: |
      mysql -u admin -pPassword@123 -e '
      USE LZ;
      INSERT INTO idiots (name, email) VALUES ("Ashok", "Ashok@example.com");
      INSERT INTO idiots (name, email) VALUES ("Gopi", "Gopih@example.com");
      '

     

   
  
    

