---

- name: install mysql
  become: yes
  apt:
    name: mysql-server
    state: present
    
- name: install PyMySQL
  become: yes
  apt:
    name: PyMySQL
    state: present
    
- name: Start MySQL service
  become: yes
  service:
    name: mysql
    state: started
